<div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
  Employee added successfully!
</div>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EMPLOYEE</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <div class="d-flex" role="search">
          <input
            class="form-control me-2"
            [(ngModel)]="searchText"
            type="summit"
            placeholder="Search"
            aria-label="Search"
          />
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </div>
        <li class="nav-item">
          <button
            class="addbtn btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            type="submit">
            ADD EMPLOYEE
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">EMPLOYEE FORM</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <td>
              <label class="form-label">ID: </label>
            </td>
            <td>
              <input
                type="number"
                class="IDF form-control"
                id="Epl_id"
                aria-describedby="emailHelp"
                name="Epl_id"
                [(ngModel)]="Epl_id"
                required
                #Epl_idin="ngModel"
              />
              <span *ngIf="!Epl_idin.valid && Epl_idin.touched" class="idmut"
                >Please enter your id</span
              >
            </td>
          </div>

          <div class="mb-3">
            <td>
              <label class="form-label">Name: </label>
            </td>
            <td>
              <input
                type="text"
                class="nameF form-control"
                id="name"
                aria-describedby="emailHelp"
                name="name"
                [(ngModel)]="name"
                required
                #namein="ngModel"
              />
              <span *ngIf="!namein.valid && namein.touched" class="namemut"
                >Please enter your name</span
              >
            </td>
          </div>
          <div class="mb-3">
            <td>
              <label for="exampleInputEmail1" class="form-label"
                >Father Name:
              </label>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="father_name"
                aria-describedby="emailHelp"
                name="father_name"
                [(ngModel)]="father_name"
                required
                #father_namein="ngModel"
              />
              <span
                *ngIf="!father_namein.valid && father_namein.touched"
                class="ftnF"
                >Please enter father name</span
              >
            </td>
          </div>
          <div class="mb-3">
            <td>
            <label for="datepicker">Date of Birth:</label>
          </td>
          <td>
            <input
              class="form-control "
              type="date"
              id="date_of_birth"
              name="date_of_birth"
              [(ngModel)]="date_of_birth"
              required
            />
          </td>
            <div *ngIf="isUnderAge()" class="text-danger">
              Warning: Users must be 18 years or older.
            </div>
          </div>
          <div>
            <td>
              <p>Gender: </p>
            </td>
            <td>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="flexRadioDefault1"
              name="gender"
              [(ngModel)]="gender"
              [value]="false"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="flexRadioDefault2"
              [(ngModel)]="gender"
              [value]="true"
              
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
          <br>
        </td>
        </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              name="nrc_exist"
              [(ngModel)]="nrc_exist"
              (change)="clearNrc()"
            />
            <label class="form-check-label" for="flexCheckDefault">
            NRC EXISTS
            </label>
          </div>

          <!-- <input *ngIf="nrc_exists" type="text" [(ngModel)]="nrc" name="nrc" /> -->
          <div class="mb-3">
            <td>
            <label for="exampleInputEmail1" class="form-label">NRC: </label>
          </td>
          <td>
            <input
              *ngIf="nrc_exist"
              type="text"
              class="form-control"
              id="nrc"
              aria-describedby="emailHelp"
              name="nrc"
              [(ngModel)]="nrc"
              [disabled]="!nrc_exist"
            />
          </td>
          </div>

          <div class="modal-footer">
           
            <button
              type="button"
              id="ModalEmployee"
              class="newbtn btn btn-primary"
              (click)="NewClear()"
            >
              New
            </button>
            <button
              data-bs-dismiss="modal"
              type="button"
              id="ModalEmployee"
              class="savebtn btn btn-primary"
              (click)="SaveEmployee()"
            >
              Save
            </button>
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover table-bordered mt-3">
  <thead>
    <tr>
      <th class="bghead" scope="col">ID</th>
      <th class="bghead" scope="col">Name</th>
      <th class="bghead" scope="col">FATHER NAME</th>
      <th class="bghead" scope="col">DOB</th>
      <th class="bghead" scope="col">GENDER</th>
      <th class="bghead" scope="col">NRC-EXIST</th>
      <th class="bghead" scope="col">NRC</th>
      <th class="bghead" scope="col"></th>
    </tr>
  </thead>
  <tbody
    *ngFor="
      let getEmployee of getEmployeeS
        | search : searchText
        | paginate : { itemsPerPage: pageSize, currentPage: currentPage }
    "
  >
    <tr>
      <td class="ttext" scope="row">{{ getEmployee.Epl_id }}</td>
      <td>{{ getEmployee.name }}</td>
      <td>{{ getEmployee.father_name }}</td>
      <td class="ttext">
        {{ getEmployee.date_of_birth | date : "yyyy-MM-dd" : "UTC" }}
      </td>
      <td class="ttext">{{ getEmployee.gender | gender }}</td>
      <td class="ttext">{{ getEmployee.nrc_exist | nrcexist }}</td>
      <td class="ttext">{{ getEmployee.nrc }}</td>
      <td class="icon-ed">
        <a
          href=""
          data-bs-toggle="modal"
          data-bs-target="#exampleModalsEdit"
          (click)="getEditArray(getEmployee)"
          type="submit"
          scope="row">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <a 
        data-bs-toggle="modal"
        data-bs-target="#exampleModalDelete"
        (click)="getEpl_id(getEmployee.Epl_id)"
          ><i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>


<div class="modal" tabindex="-1" 
id="exampleModalDelete"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header deletebtn">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Are you sure want to delete?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger"   data-bs-dismiss="modal" (click)="DeleteEmployee()">Delete</button>
      </div>
    </div>
  </div>
</div>

<div>
  <pagination-controls (pageChange)="currentPage = $event">
  </pagination-controls>
</div>

<!-------------Edit modal------------------>

<div
  class="modal fade"
  id="exampleModalsEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header editbtn">
        <h1 class="modal-title fs-5" id="exampleModalLabel">EDIT</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <td>
              <label class="form-label">ID: </label>
            </td>
            <td>
              <input
                type="number"
                class="IDF form-control"
                id="Epl_id"
                aria-describedby="emailHelp"
                name="Epl_id"
                [(ngModel)]="editArray.Epl_id"
                required
                placeholder="getEpl_id(getEmployee.Epl_id)"
                disabled
              />
            </td>
          </div>

          <div class="mb-3">
            <td>
              <label class="form-label">Name: </label>
            </td>
            <td>
              <input
                type="text"
                class="nameF form-control"
                id="name"
                aria-describedby="emailHelp"
                name="name"
                [(ngModel)]="editArray.name"
                required
                #namein="ngModel"
                
              />
            
            </td>
          </div>
          <div class="mb-3">
            <td>
              <label for="exampleInputEmail1" class="form-label"
                >Father Name:
              </label>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="father_name"
                aria-describedby="emailHelp"
                name="father_name"
                [(ngModel)]="editArray.father_name"
                required
                #father_namein="ngModel"
                
              />
              
            </td>
          </div>
          <div class="mb-3">
            <td>
            <label for="datepicker">Date of Birth:</label>
          </td>
          <td>
            <input
              class="form-control "
              type="date"
              id="date_of_birth"
              name="date_of_birth"
              [(ngModel)]="editArray.date_of_birth"
              required
             
            />
          </td>
            <div *ngIf="isUnderAge()" class="text-danger">
              Warning: Users must be 18 years or older.
            </div>
          </div>
          <div>
            <td>
              <p>Gender: </p>
            </td>
            <td>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="flexRadioDefault1"
              name="gender"
              [(ngModel)]="editArray.gender"
              [value]="false"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="flexRadioDefault2"
              [(ngModel)]="editArray.gender"
              [value]="true"
              
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
          <br>
        </td>
        </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="true"
              id="flexCheckDefault"
              name="nrc_exist"
              [(ngModel)]="editArray.nrc_exist"
              (change)="clearNrc()"
            />
            <label class="form-check-label" for="flexCheckDefault">
            NRC EXISTS
            </label>
          </div>

          <!-- <input *ngIf="nrc_exists" type="text" [(ngModel)]="nrc" name="nrc" /> -->
          <div class="mb-3">
            <td>
            <label for="exampleInputEmail1" class="form-label">NRC: </label>
          </td>
          <td>
            <input
              *ngIf="nrc_exist"
              type="text"
              class="form-control"
              id="nrc"
              aria-describedby="emailHelp"
              name="nrc"
              [(ngModel)]="editArray.nrc"
              [disabled]="!nrc_exist"
            />
          </td>
          </div>

          <div class="modal-footer">

            <button
              data-bs-dismiss="modal"
              type="button"
              id="ModalEmployee"
              class="savebtn btn btn-primary"
              (click)="UpdateEmployee()"
            >
              Save
            </button>
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button (click)="exportToExcel(getEmployeeS, 'exported_data')">Export to Excel</button>

<input type="file" (change)="importFromExcel($event)" />

<!-- <input type="file" (change)="importFromExcel($event)" /> -->





